body {
  margin: 0;
  font-family: Arial, sans-serif;
}

.navbar{
  width: 100%;
  height: 60px;
  background-color: #353535;
  padding-left: 30px;
  padding-right: 30px;
  line-height: 60px;
}

.navbar .logo{
  font-size: 20px;
  color: white;
}

.banner{
  width: 100%;
  height: 350px;
  background-image: url("../images/main_img.jpg");
  background-size: cover;
  background-position: center center;
}

.info{
  width: 100%;
  height: 320px;
  background-color: white;
}

.helper{
  display: inline-block;
  height: 100%;
  vertical-align: middle;
}

.info_container{
  display: inline-block;
  vertical-align: middle;
  padding-left: 30px;
  padding-right: 30px;
}

.info .label{
  font-size: 16px;
  color: #4a4a4a;
}

.info h2{
  font-size: 20px;
  color: #1b1b1b;
  margin-top: 10px;
  margin-bottom: 30px;
}

.info p{
  font-size: 16px;
  color: #a7a7a7;
  margin: 0;
}

.img1{
  width: 100%;
  height: 385px;
  background-image: url("../images/img1.jpg");
  background-size: cover;
  background-position: center top;
}

.img2{
  width: 100%;
  height: 200px;
  background-image: url("../images/img2.jpg");
  background-size: cover;
  background-position: center top;
  text-align: center;
}

.img2 a {
  color: white;
  font-weight: bold;
  border: 4px solid white;
  padding: 9px 40px;
  text-decoration: none;
  vertical-align: middle;
}

.img3{
  width: 100%;
  height: 200px;
  background-image: url("../images/img3.jpg");
  background-size: cover;
  background-position: center top;
}

@media (min-width : 768px) {
  .col{
    float: left;
  }
  .banner {
       height : 562px;   
  }
  .info {
       height : 282px;   
  }
  .info_container{
    padding-left: 65px;
    padding-right: 65px;
  }
  .img1 {
       height : 360px;
       width : 50%;
  }
  .img2 {
       height : 180px;
       width : 50%;
  }
  .img3 {
      height : 180px;
      width : 50%;
  }
}

@media (min-width: 992px) {
  .col{
    float: left;
  }
  .banner {
    height : 700px;
    width : 50%;
  }
  .info {
    height : 350px;
    width : 50%;
  }
  .info_container{
    padding-left: 65px;
    padding-right: 65px;
  }
  .img1 {
    height : 350px;
    width : 25%;

  }
  .img2 {
    height : 175px;
    width : 25%;
  }
  .img3 {
    height : 175px;
    width : 25%;
  }
}
